.screen {
  flex: 1;
  padding: 24;
  justify-content: center;
  gap: 12;
}

.title {
  font-size: 28;
  font-weight: 700;
}

.subtitle {
  font-size: 18;
}

.text {
  font-size: 16;
  line-height: 24;
}